<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387160312457-ucf94uvicc0t35upmfm2ni2c9ornrk31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387160312457-ucf94uvicc0t35upmfm2ni2c9ornrk31</string>
	<key>API_KEY</key>
	<string>AIzaSyDpxhKWLOP1rRU4j0FI9bt7SyEOaznmmiY</string>
	<key>GCM_SENDER_ID</key>
	<string>387160312457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattcrowder.distancebuddy</string>
	<key>PROJECT_ID</key>
	<string>distancebuddy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>distancebuddy-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387160312457:ios:747f47d54e3017c1ac5458</string>
	<key>DATABASE_URL</key>
	<string>https://distancebuddy-dev.firebaseio.com</string>
</dict>
</plist>